<%= render "nav" %>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Blog 
                    <small>Read Up on Tips for Healthy Living and Appearence.</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li class="active">Blog</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-1">
                <p>March 9, 2014</p>
            </div>
            <div class="col-md-5">
                <a href="/LoseWeight">
                     <%= image_tag "weightloss.jpg", :class => 'img-responsive'%>
                </a>
            </div>
            <div class="col-md-6">
                <h3>Tips to Lose Weight
                </h3>
                <p>by <em>Anam Majidi.</em>
                </p>
                <p>And keep it off! Making just a few simple lifestyle changes can pack a big weight loss punch over time.</p>
                <a class="btn btn-primary" href="/LoseWeight">Read More <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>
       <div class="row">

            <div class="col-md-1">
                <p>March 5, 2014</p>
            </div>
            <div class="col-md-5">
                <a href="/Acne">
                    <%= image_tag "healthyskin2.jpg", :class => 'img-responsive'%>
                </a>
            </div>
            <div class="col-md-6">
                <h3>Fighting Acne?
                </h3>
                <p>by <em>Anam Majidi.</em>
                </p>
                <p>One of the most covetable beauty traits is being blessed with naturally clear, glowy skin. But we all know that even the luckiest of ladies might get a blemish once in a while, and bad nutrition might be to blame. Pesky pimples are never any fun so you might be surprised to learn that making some small swaps in your daily diet can be the key to clearer skin.</p>
                <a class="btn btn-primary" href="/Acne">Read More <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>
               <div class="row">

            <div class="col-md-1">
                <p>March 1, 2014</p>
            </div>
            <div class="col-md-5">
                <a href="/HealthyHair">
                    <%= image_tag "healthyhair2.png", :class => 'img-responsive'%>
                </a>
            </div>
            <div class="col-md-6">
                <h3>Healthy Foods For Hair.
                </h3>
                <p>by <em>Anam Majidi.</em>
                </p>
                <p>When it comes to healthy hair, it’s not just what you put on your tresses that counts -- it’s what you put in your body, too.</p>
                <a class="btn btn-primary" href="/HealthyHair">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>

      

        <div class="row  blog-pager text-center">

            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li class = "active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

    </div>

<%= render "footer" %>
