<%= render "nav" %>


   <div class="container">
            <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Recipe 
                    <small>Hearty Italian Chicken and Vegetable Soup</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li><a href="/Dinner">Dinner</a></li>
                    <li class="active">Hearty Italian Chicken and Vegetable Soup</li>
                </ol>
            </div>

        </div>

        <div class="row">

             <div class="col-md-3">
                <p class="lead">Ingredients</p>
                 <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">1 tspn</span>
                    Coconut oil
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2</span>
                    Yellow onion
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2</span>
                    Large carrots
                  </li>
                  <li class="list-group-item">
                    <span class="badge">3</span>
                    Celery stalks
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2</span>
                    Garlic cloves
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2 cup</span>
                    Fresh green beans
                  </li>
                  <li class="list-group-item">
                    <span class="badge">4 sprigs</span>
                    Fresh thyme
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 lb</span>
                    Organic chicken breasts
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2 tspns</span>
                    Black pepper
                  </li>
                   <li class="list-group-item">
                    <span class="badge">1 1/2 tspns</span>
                    Fine sea salt
                  </li>                              
                </ul>

                <p class="lead">Additional Images</p>
                <%= image_tag "thyme.jpg", :class => 'img-responsive image-spacing'%>
                <%= image_tag "blackpepper.jpg", :class => 'img-responsive image-spacing'%>

            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <%= image_tag "chickensoup.png", :class => 'img-responsive'%>
                    <div class="caption-full">
                        <h3 class = "header-spacing"Hearty Italian Chicken and Vegetable Soup</h3>
                    </div>

                        <p class = "p-spacing">Featuring flavorful vegetables, fresh herbs and organic chicken, it’s about as straight-forward as soup gets. Feel free to use any seasonal vegetables and herbs you have on hand– it’s a great way to get rid of anything that’s starting to wilt in your fridge! For those of you who would rather avoid chicken, try using cubed squash or sweet potatoes instead. </p>

              </div>
              <div class = "thumbnail">
                    <div class="caption-full">
                        <h3>Preparation Instructions
                        </h3>
                        <em>Total Time: 40 minutes</em>
                    </div>

              <ol class = "preparation-instructions">
                  <li>
                  In a large stockpot, melt the butter over medium heat and gently saute the onion, garlic and chicken for about 5 minutes, until the onion is tender.
                  </li>
                  <li>Add the carrots, celery and green beans, thyme leaves, and enough water to just cover the vegetables (about 5-6 cups). Bring the water to a boil, then reduce heat and allow to simmer for 20 minutes.</li>
                  <li>Season with salt and pepper to taste, and serve piping hot!</li>
                  
                </ol>

                </div>

        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments -->
                <div class = "row">
                  <div class="col-md-2"><%= image_tag "leo.jpg", :class => 'img-responsive img-circle' %></div>
                  <div class="col-md-10">
                <h4>Leo Dawson
                    <small>11:11 PM on March 9, 2014</small>
                </h4>

                <p>The soup came out to be amazing. Also, nice images. </p>
                </div>
              </div>
              <br>
              <div class = "row">
                  <div class="col-md-2"><%= image_tag "user.jpg", :class => 'img-responsive img-circle' %></div>
                  <div class="col-md-10">
                <h4>Lisa Simpson
                    <small>19:20 PM on Jan 10, 2014</small>
                </h4>

                <p>This is alright. But the pictures are really nice.</p>
                </div>
              </div>


            </div>
        </div>

            </div>

        </div>

    </div>
    <!-- /.container -->







<%= render "footer" %>