<%= render "nav" %>


   <div class="container">
            <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Recipe 
                    <small>Sour Cream Coffee Cake</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                     <li><a href="/Dessert">Dessert</a>
                    </li>
                    <li><a href="/CoffeeCraving">Coffee Craving</a></li>
                    <li class="active">Sour Cream Coffee Cake</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Ingredients</p>
                 <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">4.5 ounces</span>
                    all-purpose flour
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 ounce</span>
                    whole wheat flour
                  </li>
                  <li class="list-group-item">
                    <span class="badge">3/4 cup</span>
                    rolled oats
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 tspn</span>
                  baking powder
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/4 tsp</span>
                    salt
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2 tsp</span>
                    baking soda
                  </li>
                    <li class="list-group-item">
                    <span class="badge">1/2 cup</span>
                    granulated sugar and packed brown sugar
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/3 cup</span>
                    softened butter
                  </li>
                   <li class="list-group-item">
                    <span class="badge">3 tblsp</span>
                    vegetable oil
                  </li>
                    <li class="list-group-item">
                    <span class="badge">2</span>
                    large eggs
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 tsp</span>
                    vanilla extract
                  </li>
                  <li class="list-group-item">
                    <span class="badge">8 ounce</span>
                    light sour cream
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2 tsp</span>
                    toasted chopped walnuts
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2 tsp</span>
                    ground cinnamon
                  </li>
                </ul>
                <p class="lead">Additional Images</p>
                <a class="fancybox" rel="coffeecake" href="<%= image_path('coffeecake2.jpg') %>" title="Yum yum coffee cake">
                <%= image_tag "coffeecake2.jpg", :class => 'img-responsive image-spacing'%></a>
                <a class="fancybox" rel="coffeecake" href="<%= image_path('coffeecake3.jpg') %>" title="Cofee cake!">
                <%= image_tag "coffeecake3.jpg", :class => 'img-responsive image-spacing'%></a>

            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                     <%= image_tag "coffee-cake.jpg", :class => 'img-responsive'%>

                    <div class="caption-full">
                        <h3 class = "header-spacing">Sour Cream Coffee Cake</h3>
                    </div>

                        <p class = "p-spacing">Not just for brunch, our coffee cakes are sweet enough for dessert too. Whether you're a fan of citrus, cinnamon, nuts, or fruit—you're bound to find new favorites with these recipes.In our first recipe, we slimmed down a classic and added whole grains to the mix to create Sour Cream Coffee Cake. Our way trimmed 225 calories and a whopping 21 grams of fat per serving from the original.</p>

              </div>
              <div class = "thumbnail">
                    <div class="caption-full">
                        <h3>Preparation Instructions
                        </h3>
                        <em>Total Time: 1 hour</em>
                    </div>

              <ol class = "preparation-instructions">
                  <li>
                    Preheat the oven to 350 degrees F. Spread oats in a single layer on a baking sheet. Bake at 350° for 6 minutes or until oats are barely fragrant and light brown. Coat a 9-inch springform pan with cooking spray; set aside.
                  </li>
                  <li> Reserve 1/4 cup oats; set aside. Place remaining oats in a food processor; process 4 seconds or until finely ground. Weigh or lightly spoon flours into dry measuring cups; level with a knife. Combine processed oats, flours, baking powder, baking soda, and salt; stir with a whisk</li>
                  <li>Place granulated sugar, 1/4 cup brown sugar, and 1/3 cup butter in a large bowl. Beat with a mixer at medium speed for 3 minutes or until light and fluffy. Add eggs, 1 at a time, beating well after each addition. Beat in vanilla. Add flour mixture to sugar mixture alternately with sour cream, beginning and ending with flour mixture. (Batter will be slightly lumpy because of oats.) Spoon batter into prepared pan; spread evenly.</li>
                  <li>Combine remaining 1/4 cup oats, remaining 1/4 cup brown sugar, nuts, and cinnamon in a bowl. Cut in 1 tablespoon butter with a pastry blender or 2 knives until well blended. Sprinkle top of batter evenly with nut mixture. Bake at 350° for 38 minutes or until a wooden pick inserted in center comes out clean, top is golden, and cake begins to pull away from sides of pan. Cool cake in pan for 10 minutes; remove from pan.</li>
                </ol>

                </div>

        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments 
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Alex Yang
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
              <br/>
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Anam Majidi
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>-->
            </div>
        </div>

            </div>

        </div>

    </div>
    <!-- /.container -->







<%= render "footer" %>