<%= render "nav" %>


   <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">NutriLife
                    <small>Dessert</small>
                </h1>
                                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li class="active">Dessert</li>
                </ol>
            </div>

        </div>
<!--         <div class="row">

            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Jumbotron</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
              </div>
            </div>

        </div> -->

        <div class="row">

           <div class="col-md-4 recipe-item">
                <a href="/LemonPoundcake">
                    <%= image_tag "lemonpoundcake2.jpg", :class => 'img-responsive'%>
                                    <span class="label label-success pull-right">Lemony</span>
                </a>
                <h3><a href="/LemonPoundcake">Lemony Yogurt Poundcake</a></h3>

                <p>Heart-healthy olive oil and protein-rich Greek yogurt take the place of butter in this lemony pound cake. Egg whites also help reduce calories, fat, and cholesterol and whole-wheat flour boosts fiber. The texture is very much like classic pound cake, especially if Bob's Red Mill flour is used.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/CoconutPudding">
                    <%= image_tag "cocopudding2.jpg", :class => 'img-responsive'%>
                                    <span class="label label-default pull-right">Coconuty</span>
                </a>
                <h3><a href="/CoconutPudding">Coconut Brown Rice Pudding</a>
                </h3>

                <p>Rice's natural starch (helped along with a bit of coconut milk) turns into creamy, surprisingly light rice pudding with sweet floral flavor from coconut water. Set out a toppings bar of dried fruits, toasted nuts, shredded coconut and seeds and let everyone personalize their own bowl.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/PeanutThins">
                    <%= image_tag "peanutthin2.jpg", :class => 'img-responsive'%>
                                    <span class="label label-info pull-right">Creamy</span>
                </a>
                <h3><a href="/PeanutThins">Crunchy Peanut Butter Thins</a></h3>

                <p>These crunchy little cookies are a satisfying alternative to regular peanut butter cookies. Chia seeds are a great source of omega-3 fatty acids - look for them in specialty health food stores if you don't see them in the regular grocery store.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 recipe-item">
                <a href="/OatmealFlax">
                    <%= image_tag "oatcookie2.jpg", :class => 'img-responsive'%>
                        <span class="label label-danger pull-right">HOT</span>
                </a>
                <h3><a href="/OatmealFlax">Oatmeal-Flaxseed Chocolate Chip Cookies</a>
                </h3>

                <p>Some call flaxseed one of the most powerful plant foods on the planet. There’s some evidence it may help reduce your risk of heart disease, cancer, stroke, and diabetes. That’s quite a tall order for a tiny seed that’s been around for centuries.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/CoffeeCake">
                    <%= image_tag "coffeecake4.jpg", :class => 'img-responsive'%>
                                    <span class="label label-info pull-right">Creamy</span>
                </a>
                <h3><a href="/CoffeeCake">Sour Cream Coffee Cake</a></h3>

                <p>Not just for brunch, our coffee cakes are sweet enough for dessert too. Whether you're a fan of citrus, cinnamon, nuts, or fruit—you're bound to find new favorites with these recipes.In our first recipe, we slimmed down a classic and added whole grains to the mix to create Sour Cream Coffee Cake. Our way trimmed 225 calories and a whopping 21 grams of fat per serving from the original.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/bluelemoncake">
                    <%= image_tag "bluelemon2.jpg", :class => 'img-responsive'%>
                                    <span class="label label-warning pull-right">Berrylicious</span>
                </a>
                <h3><a href="/bluelemoncake">Blueberry Lemon Coffee Cake</a>
                </h3>

                <p>Blueberries and lemon are a natural match, and they come together nicely in this fruit-filled coffee cake. Blueberries are known to be a good antioxidant and skin glow booster.Almond paste, a sweet mixture of ground almonds and sugar, contributes a mildly nutty flavor and moist texture.</p>
            </div>

        </div>

       <!-- <div class="row">

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div>-->

        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="/error404">&laquo;</a>
                    </li>
                    <li class="active"><a href="/error404">1</a>
                    </li>
                    <li><a href="/error404">2</a>
                    </li>
                    <li><a href="/error404">3</a>
                    </li>
                    <li><a href="/error404">4</a>
                    </li>
                    <li><a href="/error404">5</a>
                    </li>
                    <li><a href="/error404">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

<%= render "footer" %>