<%= render "nav" %>


   <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Meal
                    <small>Lunch</small>
                </h1>
                                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li class="active">Lunch</li>
                </ol>
            </div>

        </div>
<!--         <div class="row">

            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Jumbotron</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
              </div>
            </div>

        </div> -->

        <div class="row">

            <div class="col-md-4 recipe-item">
                <a href="/Quinoasalad">
                    <%= image_tag "quinoasaladout.jpg", :class => 'img-responsive'%>
                        <span class="label label-success pull-right">Vegetarian</span>
                </a>
                <h3><a href="/Quinoasalad">Tomato-Mint Quinoa Salad</a></h3>

                <p>Even for non-vegetarians, quinoa is a great change to rice or pasta. </p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/PastaSalad">
                    <%= image_tag "pastasaladout.jpg", :class => 'img-responsive'%>
                        <span class="label label-danger pull-right">Hot!</span>
                </a>
                <h3><a href="/PastaSalad">Mandarin Chicken Pasta Salad</a>
                </h3>

                <p>It's a fruity Asian chicken salad that is rich in colors and an eyecandy. Great for family meals or lunches-to-go. </p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/TomatoSoup">
                    <%= image_tag "soupout.jpg", :class => 'img-responsive'%>
                    <span class="label label-success pull-right">Vegetarian</span>
                </a>
                <h3><a href="/TomatoSoup">Fresh Tomato Soup</a>
                </h3>
                <p>Tomatoes are flavourful all year round. This vegetarian soup recipe can warm you up on cold winter nights.</p>
            </div>

        </div>

 <!--        <div class="row">

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/Recipe">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="/Recipe">Recipe Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div> -->

        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

<%= render "footer" %>