<%= render "nav" %>


   <div class="container">
            <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Recipe 
                    <small>Crunchy Peanut Butter Thins</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li><a href="/Dessert">Dessert</a></li>
                    <li><a href="/ChocCraving">Chocolate Craving</a></li>
                    <li class="active">Crunchy Peanut Butter Thins</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Ingredients</p>
                 <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">1/2 cup</span>
                    all-purpose flour
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2 cup</span>
                    whole wheat
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/4 cup</span>
                    rolled oats
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2 tspn</span>
                    chia seeds
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2 tsp</span>
                    salt
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/4 tsp</span>
                    ground cinnamon
                  </li>
                    <li class="list-group-item">
                    <span class="badge">1/3 cup</span>
                    creamy natural peanut butter
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/3 cup</span>
                    packed light brown sugar
                  </li>
                   <li class="list-group-item">
                    <span class="badge">3 tblsp</span>
                    vegetable oil
                  </li>
                    <li class="list-group-item">
                    <span class="badge">1</span>
                    large egg white
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 ounce</span>
                    bittersweet chocolate melted
                  </li>
                </ul>
                <p class="lead">Additional Images</p>
                <a class="fancybox" rel="peanut" href="<%= image_path('crunchythin.jpg') %>" title="crunchy thin">
                  <%= image_tag "crunchythin.jpg", :class => 'img-responsive image-spacing'%></a>
                <a class="fancybox" rel="peanut" href="<%= image_path('rolledoats.jpg') %>" title="rolled oats">
                  <%= image_tag "rolledoats.jpg", :class => 'img-responsive image-spacing'%></a>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                     <%= image_tag "peanutthin.jpeg", :class => 'img-responsive'%>

                    <div class="caption-full">
                        <h3 class = "header-spacing">Crunchy Peanut Butter Thins</h3>
                    </div>

                        <p class = "p-spacing">These crunchy little cookies are a satisfying alternative to regular peanut butter cookies. Chia seeds are a great source of omega-3 fatty acids - look for them in specialty health food stores if you don't see them in the regular grocery store.</p>

              </div>
              <div class = "thumbnail">
                    <div class="caption-full">
                        <h3>Preparation Instructions
                        </h3>
                        <em>Total Time: 40 min</em>
                    </div>

              <ol class = "preparation-instructions">
                  <li>
                    Preheat the oven to 350 degrees F. Line a 9-by-13-inch baking dish with aluminum foil with a 1-inch overhang on all sides. Spray lightly with baking spray.
                  </li>
                  <li>Combine both flours, oats, wheat germ, chia seeds if using, salt and cinnamon in a medium bowl. Set aside.</li>
                  <li>Combine the peanut butter, brown sugar, vegetable oil and egg white in another medium bowl. Beat with a hand mixer until creamy, about 2 minutes. Add the dry ingredients and beat on low until a wet and sandy mixture that holds together when squeezed. Turn the dough out into the prepared pan and press into an even layer. Bake until golden, 25 to 30 minutes. Let cool completely. Drizzle with the chocolate. Let the chocolate harden and break into eighteen 2-inch even pieces.</li>
                </ol>

                </div>

        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments 
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Alex Yang
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
              <br/>
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Anam Majidi
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>-->
            </div>
        </div>

            </div>

        </div>

    </div>
    <!-- /.container -->







<%= render "footer" %>