<%= render "nav" %>


   <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">NutriLife
                    <small>Snack</small>
                </h1>
                                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li class="active">Snack</li>
                </ol>
            </div>

        </div>
<!--         <div class="row">

            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Jumbotron</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
              </div>
            </div>

        </div> -->

        <div class="row">


            <div class="col-md-4 recipe-item">
                <a href="/Trail">
                    <%= image_tag "trailout.jpg", :class => 'img-responsive'%>
                        <span class="label label-default pull-right">Quick 'n Easy</span>
                </a>
                <h3><a href="/Trail">Homemade Trail Mix</a>
                </h3>

                <p>It's fast, it's tasty and easy to make -- You can just grab-and-go with a handful of trail mix. It offers satisfaction to hunger and usable energy for your body. </p>
            </div>
            
            <div class="col-md-4 recipe-item">
                <a href="/KaleChips">
                    <%= image_tag "kaleout.jpg", :class => 'img-responsive'%>
                        <span class="label label-primary pull-right">Crunchy</span>
                </a>
                <h3><a href="/KaleChips">Baked Kale Chips</a>
                </h3>

                <p>The hottest and healthiest chips right now. You can make these delicious and healthy babies in less than half an hour. </p>
            </div>
            <div class="col-md-4 recipe-item">
                <a href="/BoiledEgg">
                    <%= image_tag "eggsout.jpg", :class => 'img-responsive'%>
                    <span class="label label-default pull-right">Quick 'n Easy</span>
                        
                </a>
                <h3><a href="/BoiledEgg">Hard-Boiled Egg</a></h3>
                <p>Easy, quick, and delicious!</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 recipe-item">
                <a href="/BananaBites">
                    <%= image_tag "bitesout.jpg", :class => 'img-responsive'%>
                        <span class="label label-warning pull-right">Fruity</span>
                </a>
                <h3><a href="/BananaBites">No-Bake Banana Bites</a></h3>
                <p>These frozen delights are fun and delicious. The bite-sizes are perfect to go with your favorite TV shows. </p>
            </div>
            <div class="col-md-4 recipe-item">
                <a href="/HummusVeggies">
                    <%= image_tag "hummusout.jpg", :class => 'img-responsive'%>
                        <span class="label label-danger pull-right">HOT</span>
                </a>
                <h3><a href="/HummusVeggies">Hummus with Veggies</a>
                </h3>

                <p>Hummus provides you with protein and a number of essential vitamin and minerals, and while it can be high in fat, it is mostly heart-healthy unsaturated fat.</p>
            </div>
            <div class="col-md-4 recipe-item">
                <a href="/AvocadoToast">
                    <%= image_tag "avotoastout.jpg", :class => 'img-responsive'%>
                        <span class="label label-success pull-right">Vegetarian</span>
                </a>
                <h3><a href="/AvocadoToast">Avocado Toast</a></h3>
                <p>Avocado is a nutritional powerhouse providing numerous potential health benefits. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 recipe-item">
                <a href="/AlmondToast">
                    <%= image_tag "almondtoastout.jpg", :class => 'img-responsive'%>
                        <span class="label label-info pull-right">Creamy</span>
                </a>
                <h3><a href="/AlmondToast">Cinnamon Almond Butter Toast</a>
                </h3>

                <p>Almond butter is an excellent alternate source of protein, and it's filled with monounsaturated fat. The hottest butter right now. Go nuts!</p>
            </div>
        </div>












        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="/error404">&laquo;</a>
                    </li>
                    <li class="active"><a href="/error404">1</a>
                    </li>
                    <li><a href="/error404">2</a>
                    </li>
                    <li><a href="/error404">3</a>
                    </li>
                    <li><a href="/error404">4</a>
                    </li>
                    <li><a href="/error404">5</a>
                    </li>
                    <li><a href="/error404">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

<%= render "footer" %>