<%= render "nav" %>


   <div class="container">
            <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Recipe 
                    <small>Fresh Tomato Soup</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li><a href="/Meal">Meal</a></li>

                    <li><a href="/Lunch">Lunch</a></li>
                    <li class="active">Fresh Tomato Soup</li>
                </ol>
            </div>

        </div>

        <div class="row">

             <div class="col-md-3">
                <p class="lead">Ingredients</p>
                 <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">2 cups</span>
                    Fat-free, less-sodium chicken broth
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 cup</span>
                    Chopped onion
                  </li>
                  <li class="list-group-item">
                    <span class="badge">3/4 cup</span>
                    Chopped celery
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 tablespoon</span>
                    Sliced fresh basil
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 tablespoon</span>
                    Tomato paste
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2 pounds</span>
                    Cut plum tomatoes
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2 tablespoons</span>
                    Salt
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/4 teaspoon</span>
                    Ground black pepper
                  </li>
                  <li class="list-group-item">
                    <span class="badge">6 tablespoons</span>
                    Plain low-fat yogurt
                  </li>
                               
                </ul>

                <p class="lead">Additional Images</p>
                <a class="fancybox" rel="bites" href="<%= image_path('basil.jpg') %>" title="Fresh basil">
                <%= image_tag "basil.jpg", :class => 'img-responsive image-spacing'%></a>
                <a class="fancybox" rel="bites" href="<%= image_path('blackpepper.jpg') %>" title="Black pepper">
                <%= image_tag "blackpepper.jpg", :class => 'img-responsive image-spacing'%></a>
                <a class="fancybox" rel="bites" href="<%= image_path('greekyogurt.JPG') %>" title="Greek yogurt">
                <%= image_tag "greekyogurt.JPG", :class => 'img-responsive image-spacing'%></a>            

            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <%= image_tag "soup.jpg", :class => 'img-responsive'%>
                    <div class="caption-full">
                        <h3 class = "header-spacing"Fresh Tomato Soup</h3>
                    </div>

                        <p class = "p-spacing">Tomatoes are flavourful all year round. This vegetarian soup recipe can warm you up on cold winter nights. Tomatoes are good sources of Vitamins A, C, K, folate and potassium. They are naturally low in sodium, saturated fat, cholesterol, and calories. Tomatoes also provide thiamin, niacin, vitamin B6, magnesium, phosphorus and copper, all of which are necessary for good health. </p>

              </div>
              <div class = "thumbnail">
                    <div class="caption-full">
                        <h3>Preparation Instructions
                        </h3>
                        <em>Total Time: 40 minutes</em>
                    </div>

              <ol class = "preparation-instructions">
                  <li>
                  Combine first 6 ingredients in a large saucepan; bring to a boil. Reduce heat, and simmer 30 minutes. 
                  </li>
                  <li>Place half of tomato mixture in a blender. Remove center piece of blender lid (to allow steam to escape); secure blender lid on blender. Place a clean towel over opening in blender lid (to avoid splatters). Blend until smooth. </li>
                  <li>Pour into a large bowl. Repeat procedure with remaining tomato mixture. </li>
                  <li>Stir in salt and pepper. Ladle 3/4 cup soup into each of 6 bowls; top each serving with 1 tablespoon yogurt and 1 1/2 teaspoons basil.</li>
                </ol>

                </div>

        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments -->
                <div class = "row">
                  <div class="col-md-2"><%= image_tag "leo.jpg", :class => 'img-responsive img-circle' %></div>
                  <div class="col-md-10">
                <h4>Leo Dawson
                    <small>11:11 PM on Feb 10, 2014</small>
                </h4>

                <p>Love this. Low calories and tasty. </p>
                </div>
              </div>



            </div>
        </div>

            </div>

        </div>

    </div>
    <!-- /.container -->







<%= render "footer" %>